<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr class="p-2">
        <td>
          <%= link_to project['name'], show_project_path(project['id']),  class: "link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
        </td>
        <td>
          <%= link_to "Editar", edit_project_path(project['id']),  class: "link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
